old_version_rf_env/
.venv/
__pycache__/
*.py[cod]
/data/
/multip_modal/clipcap/model.pt
/multip_modal/clipcap/cache/
/multip_modal/diffusion-model/outputs/
/multip_modal/diffusion-model/result_out/*.out
/multip_modal/cond-diffusion-model/checkpoints/
*__pycache__/

*.pt

!*trained_models/*.pt
/multip_modal/dalle2/
